@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glory', sans-serif;
    color: ivory;
}

body{
    background: #02171D;
}

.dots{
    border: 0;
    border-top: 0.4rem dotted ivory;
    margin: 0 45%;
}


/* //////////////////// Slider CSS ///////////////////// */

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #02171D;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.intro-text{
    text-align: center;
    color: rgb(233, 233, 233);
}

.hide{
    margin: 1rem 0;
    background: #02171D;
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}

.hello{
    margin-bottom: 4rem;
}

.text-1{
    font-size: 3rem;
}

.text-2{
    font-size: 4rem;
}

.text-3{
    font-size: 2.5rem;
}

/* //////////////////// Navbar CSS ///////////////////// */

nav{
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 100%;
    background: #02171D;
    box-shadow: 0 0 2rem black;
}

.nav-links{    
    display: flex;
    list-style: none;
}

.nav-links a{   
    text-decoration: none; 
    letter-spacing: 0.05rem;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    margin: 0 1rem;
    text-transform: uppercase;
}


.nav-links a.active, .nav-links a:hover{
    font-weight: 700;
    background-color: ivory;
    color: #02171D;
    border-radius: 0.1rem;
    transition: 0.3 ease ivory;
}

/* //////////////////// Sections CSS ///////////////////// */

.section{
    height: 100vh;
}

/* //////////////////// Home CSS ///////////////////// */

#home{
    background: url("./images/home_background.jpg");
    background-size: cover;
}

.big-text{
    width: fit-content;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
    
}

.arrow{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}

/* //////////////////// About CSS ///////////////////// */

#about{
    display: flex;

    align-items: center;
}

.myself, .education{
    width: 50%;
    padding: 2rem;
    text-align: center;
}

.myself img{
    height: 15rem;
    border: 0.2rem solid ivory ;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.myself h1, .education h1{
    font-size: 2.5rem;    
}

.myself hr, .education hr{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.myself p, .education p{
    font-size: 1.4rem;
    line-height: 2rem;
}

.education span{
    text-align: center;
}

/* //////////////////// Skills CSS ///////////////////// */

#skills{
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-box{
    display: flex;
    padding: 1rem;
    box-shadow: 0rem 0rem 2rem black;
    border-radius: 1rem;
    width: 90%;
    text-align: center;
}

.skill-box h1{
    margin: 0 3rem 1rem;
    font-size: 2.5rem;
}

.skill-box .technical, .skill-box .professional{
    width: 50%;
    padding: 1rem;
}

/* //////////////////// Technical Skills CSS ///////////////////// */

.tech-skill{
    margin: 1.1rem ;
}

.tech-skill .data{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.1rem;
}

.tech-skill .bar{
    position: relative;
    height: 1rem;
    margin-top: 0.1rem;
    background-color: rgb(14, 14, 14);
    border-radius: 0.5rem;
}

.tech-skill .bar span.active-bar{
    margin: 0 0.1rem;
    position: absolute;
    background-color: cyan;
    height: 80%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0.4rem;

}

/* //////////////////// Techinacl Skills Animation ///////////////////// */

.cpp.active-bar{
    width: 75%;
    animation: cpp 2s;
}

@keyframes cpp{
    0%{
        width: 0;
    }
    100%{
        width: 75%;
    }
}

.python.active-bar{
    width: 70%;
    animation: python 2s;
}

@keyframes python{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}

.html.active-bar{
    width: 80%;
    animation: html 2s;
}

@keyframes html{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}

.css.active-bar{
    width: 65%;
    animation: css 2s;
}

@keyframes css{
    0%{
        width: 0;
    }
    100%{
        width: 65%;
    }
}

.js.active-bar{
    width: 55%;
    animation: js 2s;
}

@keyframes js{
    0%{
        width: 0;
    }
    100%{
        width: 55%;
    }
}

.bootstrap.active-bar{
    width: 70%;
    animation: bootstrap 2s;
}

@keyframes bootstrap{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}

.jQuery.active-bar{
    width: 40%;
    animation: jQuery 2s;
}

@keyframes jQuery{
    0%{
        width: 0;
    }
    100%{
        width: 40%;
    }
}

.react.active-bar{
    width: 40%;
    animation: react 2s;
}

@keyframes react{
    0%{
        width: 0;
    }
    100%{
        width: 40%;
    }
}

.node.active-bar{
    width: 50%;
    animation: node 2s;
}

@keyframes node{
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}


/* //////////////////// Professional Skills CSS ///////////////////// */

.pro-skill{    
    height: 90%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
}
.circular{    
    position: relative;
    height: 14rem;
    width: 15rem;
    justify-content: center;
    align-items: center;
}
.circular svg{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 12rem;
    width: 12rem;
}

.circular svg circle{
    fill: transparent;
    stroke: rgb(14, 14, 14);
    stroke-width: 1rem;
    stroke-dasharray: 500;
    stroke-dashoffset: 0;
    stroke-linecap: round;
}

.circular svg circle:nth-child(2){
    /* z-index: 2; */
    fill: transparent;
    stroke: cyan;
    stroke-width: 0.80rem;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-linecap: round;            
}

.circular .level{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
}

.circular .skill-tag{
    width: fit-content;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);   
    font-size: 1.5rem;
}

/* //////////////////// Professional Skills Animation ///////////////////// */

.communication.active-circle{
    stroke-dashoffset: 100;
    animation: communication 2s steps(500) forwards;
}

@keyframes communication{
    0%{
        stroke-dashoffset: 500;
    }
    100%{
        stroke-dashoffset: 100;
    }
}

.team.active-circle{
    stroke-dashoffset: 50;
    animation: team 2s steps(500) forwards;
}

@keyframes team{
    0%{
        stroke-dashoffset: 500;
    }
    100%{
        stroke-dashoffset: 50;
    }
}

.project.active-circle{
    stroke-dashoffset: 150;
    animation: project 2s steps(500) forwards;
}

@keyframes project{
    0%{
        stroke-dashoffset: 500;
    }
    100%{
        stroke-dashoffset: 150;
    }
}


.creativity.active-circle{
    stroke-dashoffset: 75;
    animation: creativity 2s steps(500) forwards;
}

@keyframes creativity{
    0%{
        stroke-dashoffset: 500;
    }
    100%{
        stroke-dashoffset: 75;
    }
}